name: rqbit-mcp

x-dns: &default-dns
  dns:
    - 9.9.9.9
    - 149.112.112.112
    - 2620:fe::fe
    - 2620:fe::9

x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  rqbit-mcp:
    container_name: rqbit-mcp
    build: .
    image: rqbit-mcp
    restart: unless-stopped
    ports:
      - 8000:8000
    env_file:
      - .env
    <<: [ *default-logging ]
    network_mode: host

  rqbit:
    container_name: rqbit
    image: ikatson/rqbit:main
    restart: unless-stopped
    #ports: # Not needed on host
    #  - 3030:3030 # HTTP API port
    #  - 4240:4240 # TCP/uTP BitTorrent port
    env_file:
      - .env
    volumes:
      - rqbit_db:/home/rqbit/db
      - rqbit_cache:/home/rqbit/cache
      - /media:/home/rqbit/downloads # change /media to your download directory
    <<: [ *default-dns, *default-logging ]
    network_mode: host # required for UPnP

volumes:
  rqbit_db:
  rqbit_cache:
